@model Order
@{
    ViewData["Title"] = "Confirmed Order";
}

<div class="container mt-2">
    <h4>Order Number : @Model.ID</h4>
    <hr />
    <table class="table table-hover">
            <theard>
                <tr class ="table-light">
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </theard>
            <tbody>
            @foreach (var orderDetail in ViewBag.orderDetails)
                {
                    <tr>
                        <td scope="row">@orderDetail.Product.Name</td>
                        <td>@orderDetail.Quantity</td>
                        <td>@orderDetail.Price</td>
                    </tr>
                }
            </tbody>
    </table>
    <hr />
    <div>
        Name : @Model.Name
    </div>
    <div>
        Phone : @Model.Phone
    </div>
    <div>
        Address : @Model.Address
    </div>
    <div>
        Payment Status : @Model.PaymentStatus
    </div>
</div>
<div class="mt-2 d-flex justify-content-end">
    <button class="btn btn-info col-3" type="submit" asp-controller="Order" asp-action="Create">Buy Now</button>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
